[Desktop Entry]
Name=Vim
GenericName[zh_CN]=Text Editor
Comment=Edit text files
Comment[zh_CN]=编辑文本文件
Icon=vim
Type=Application
Exec=vim %f
Terminal=true
Categories=Utility;TextEditor;Development;
StartupNotify=true
MimeType=text/plain;
